<%- include('./partials/head.ejs') %>
<div id="container">
    <h2>Edit Product</h2>
    <form id="reg-form" action="/products/<%=product._id%>?_method=PUT" method="POST">

            <label for="new_name">Name</label>
            <input type="text" name="name" id="new-name" value="<%=product.name%>"/>

            <label for="new_description">Description</label>
            <input type="text" name="description" id="new-description" value="<%=product.description%>"/>

            <label for="new_price">Price</label>
            <input type="number" name="price" id="new-price" value="<%=product.price%>"/>

            <label for="new_qty">Quantity</label>
            <input type="number" name="qty" id="new-qty" value="<%=product.qty%>"/>

            <label for="new_img">Image</label>
            <input type="text" name="img" id="new-img" value="<%=product.img%>"/>
 
        <input type="submit" value="Update Product"/>
    </form>
    
   <a href="/products">Back to Product Index</a>
</div>
<%- include('./partials/foot.ejs') %>    