<%- include('../partials/head.ejs') %>
<div id="container">
    <h2><%=currentUser.firstName%> <%=currentUser.lastName%>'s Shopping Cart</h2>
    <form action="" method="POST" id="shopping-form">
    <table>
        <thead>
            <th>Model</th>
            <th>Qty.</th>
            <th>Unit Price</th>
            <th>Total Price</th>
        </thead>
        <tbody id="cart-entries">
        <% let total = 0; %>
        <% for(let i=0;i<user.shoppingCart.length;i++){ %>
            <tr>
                <td id="td-model"><%=user.shoppingCart[i].name%></td>
                <td id="td-qty"><input type="number" name="qty" value="<%=user.shoppingCart[i].qty%>" /></td>
                <td id="td-unit">$<%=user.shoppingCart[i].price.toLocaleString()%></td>
                <td id="td-total">$<%=(1 * user.shoppingCart[i].price).toLocaleString()%></td>
            </tr>
            <% total += user.shoppingCart[i].price %>
        <% } %>
        </tbody>
        <tr>
            <td id="table-total" colspan="3">TOTAL:</td>
            <td>$<%= total.toLocaleString() %></td>
        </tr>
    </table>
        <input type="submit" value="Update Cart"/>
    </form>
  
</div>
<script src="../../js/cart.js"></script>
<%- include('../partials/foot.ejs') %>    
